body {
  margin: 0;
}

h1 {
  margin: 10px auto;
  height: 50px;
  width: 100px;
  text-align: center;
}

.container {
  background-color: rgb(156, 143, 143);

  margin: 100px auto;
  padding: 25px;
  height: 200px;
  width: 500px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    -32px -11px 9px -5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    -32px -11px 9px -5px rgba(0, 0, 0, 0);
}
/*
.green {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
  margin: 20px 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.red {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: red;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.disable {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(106, 106, 223);
  height: 100px;
  width: 200px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 40px;
  top: 50px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

button:active {
  color: seashell;
  border: 7px solid black;
  box-shadow: none;
  transform: scale(0.98);
  transition: 0.2s;
}
*/
input[type=radio] {
  display: none;
}

input[type=radio]+label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  /*background-color: #f5f5f5;*/
  background-repeat: repeat-x;
}

input[type=radio]:checked+label {
  /*background-image: none;
  outline: 0;
  background-color: #e0e0e0;*/
  color: seashell;
  border: 7px solid black;
  box-shadow: none;
  transform: scale(0.98);
  transition: 0.2s;
}

#radio2+label {
/*background-color: green;*/
text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
  margin: 20px 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

#radio3+label {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: red;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 50px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

#radio4+label {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(106, 106, 223);
  height: 100px;
  width: 200px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 40px;
  top: 50px;
  outline: none;
  opacity: 1;
  cursor: pointer;
}

input[type=radio]:hover {
  border: 7px solid black;
  box-shadow: none;
  transform: scale(0.98);
  transition: 0.2s;
}

.magic {
  width: 175px;
  height: 40px;
  position: relative;
  left: 325px;
  top: 10px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  border: 5px double rgba(255, 255, 255, 0.904);
  background-color: gold;
  color: rgba(255, 255, 255, 0.918);
  border-radius: 30px;
  animation-name: blinking;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  50% {
    color: black;
    border-color: black;
    -webkit-box-shadow: 0px 0px 0px 5px #a0a0a0,
      inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
      inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}